body {
    background-color: mistyrose;
}
h1 {
    color: indigo;
	text-align: center;
    margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
p {
	color: Navy;
	text-align: center;
	
}